{% extends "base.html" %}
{% block title %}User Dashboard{% endblock %}
{% block content %}
<style>
    canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    display: block;
    max-width: 90%;
    height:100%
}
</style>
<div class="container-fluid">
  <div class="splitscreen">
    <div class="left">
        <h1>Trader Stats</h1>
        <h2>Net Worth</h2>
        <p>ⓢ {{ (100*netWorth)|round/100 }}</p>
        <h3>Buying Power</h3>
        <p>ⓢ {{ (100*trader.cash)|round/100 }}</p>
        <div style="display:flex;">
          <h3 style="flex:0.5">Stocks</h3>
          <div style="flex:1;">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">↯</button>  
          </div>
        </div>
        <div id="demo" class="collapse">
          {% set i = 0 %}
          {% for stock in traderStocks %}
          <p><button class="btn-hover color-1" onclick="document.getElementById('graphPopup{{stock.tag}}').style.display='block'" style="height:35px; width:70px">{{stock.tag}}</button> x {{numbers[i]}} - ⓢ {{ (100*stock.price*numbers[i])|round/100 }} (ⓢ {{(100*stock.price)|round/100}} each)</p>
          {% set i = i + 1 %}
          {% endfor %}
        </div>
    </div>

    {% for stock in traderStocks %}
    <div id="graphPopup{{stock.tag}}" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container w3-teal"> 
          <span onclick="document.getElementById('graphPopup{{stock.tag}}').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
          <h2 style="margin-top:10px; margin-bottom:10px;">{{stock.tag}} - ⓢ {{(100*stock.price)|round/100}}</h2>
        </header>
        <div class="w3-container" style="text-align:center;">
          <embed src="/graph/{{stock.tag}}" style="height:200px"></embed>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="right">
      <div class="card" id="chartContainer" style="width: 100%;">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- To hold some data for js -->
<input type="hidden" id="traderStocks" value="{{trader.stocks}}"/>
{% for company in traderStocks %}
<input type="hidden" id="{{company.tag}}" value="{{company.prices}}"/>
<input type="hidden" id="{{company.tag}}dates" value="{{company.dates}}"/>
{% endfor %}

<script>
Array.prototype.find = function(el) {
  index = null
  for (let i = 0; i < this.length; i++) {
    if (this[i] == el) {
      index = i
      break
    }
  }
  return index
}

function strtolist(string) {
  let tentList = string.replace("[", "").replace("]", "").split(",")
  tentList.forEach((element, index) => {
    tentList[index] = element.replace(" ", "").replace("'", "").replace("'", "")
  })
  return tentList
}

// get all trader stocks
var stocks = strtolist((document.querySelector("#traderStocks").value))

// filter out duplicate stocks - only need to graph each one once
let newStocks = []
stocks.forEach((element, index) => {
  if (stocks.find(element) == index) {
    newStocks.push(element)
  }
})
stocks = newStocks

// create each stock dataset
var datasets = []
stocks.forEach((stock) => {
  let prices = strtolist((document.querySelector("#"+stock).value))
  let dates = strtolist((document.querySelector("#"+stock+"dates").value))
  data = []
  prices.forEach((price, index) => {
    data.push({
      x: Number(dates[index]),
      y: Number(price)
    })
  })
  borderColor = (Number(prices[0]) - Number(prices[prices.length - 1]) > 0) ? "red" : "green"
  datasets.push({
        label: stock,
        data: data,
        borderColor: borderColor,
        fill: false
    })
})

new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: datasets
  },
  options: {
    legend: {display: true},
    title: {display: true, text:"Your Stocks"}
  }
}); 
</script>
{% endblock %}
{% block helpTitle %}Dashboard{% endblock %}
{% block description %}Your dashboard is the hub of Stonksy. It's where you can see your balance, check your stocks, obsess over graphs, and nerd out over numbers. The graph shows the lifetime changes in the stocks you own. Throughout the site, you'll be redirected to the dashboard to see your latest purchase or your cash balance.{% endblock %}