{% extends "base.html" %}
{% block title %}Trade{% endblock %}
{% block content %}
<div class="container-fluid" data-aos="flip-up">
    <embed src="{{company.url}}" style="width:100%; height: 215px; margin-top:10px; margin-left:10px;"></embed>
    <form style="margin:10px;" method="POST">
        <div class="form-group" style="margin:8px">
            {% if max != 1 %}
            <label for="buyRange">Quantity (maximum {{max}} stocks):</label>
            {% else %}
            <label for="buyRange">Quantity (maximum {{max}} stock):</label>
            {% endif %}
            <div class="slidecontainer">
                <input type="range" min="1" max="{{max}}" value="1" class="slider" id="sellRange" name="sellRange">
              </div>
        </div>
        <br>
        {% if max == 0 %}
            <button type="submit" class="btn-hover color-7" style="width:250px; opacity:50%;" id="sellDisabled" disabled>Insufficient Stocks</button>
        {% else %}
            <button type="submit" class="btn-hover color-7" style="width:250px;" id="sellConfirm">Confirm Sell (1 stock)</button>
        {% endif %}
    </form>
</div>
<script>
    var slider = document.getElementById("sellRange");
    try {
        var output = document.getElementById("sellConfirm");
        if (slider.value == 1) {
            output.innerHTML = "Confirm Sell (" + slider.value + " stock)";
        } else {
            output.innerHTML = "Confirm Sell (" + slider.value + " stocks)";
        }
    } catch(err) {}
    
    slider.oninput = function() {
        if (slider.value == 1) {
        output.innerHTML = "Confirm Sell (" + slider.value + " stock)";
        } else {
            output.innerHTML = "Confirm Sell (" + slider.value + " stocks)";
        }
    }
    </script>
{% endblock %}
{% block helpTitle %}Buying Stocks{% endblock %}
{% block description %}This is where you sell stocks. You can only sell as many stocks as you have. You can find this under your <a href="/dash">dashboard</a> by clicking the ↯. Once you sell a stock, you'll get the money in your account as cash under "Buying Power". But make sure you sell at a good time and don't lose money!{% endblock %}