{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}
{% block content %}
<div>
    <h1 style="text-align: center;">Terms and Conditions</h1>
    <p>By agreeing to these terms and conditions, I hereby acknowledge that </p>
</div>
{% endblock %}
{% block helpTitle %}Terms and Conditions{% endblock %}
{% block description %}To use Stonksy, you have to agree to some terms and conditions that let us save data regarding your username, password, stocks, balance, and any other values associated with your account.{% endblock %}